@import url(./font/import.css);

* {
	margin: 0;
	padding: 0;

	outline: none;

	--color-black: rgb(0 0 0);
	--color-black-0625: rgba(0 0 0 / 0.0625);
	--color-black-125: rgba(0 0 0 / 0.125);
	--color-black-25: rgba(0 0 0 / 0.25);
	--color-gray: rgb(50% 50% 50%);
	--color-white: rgb(100% 100% 100%);
	--color-white-75: rgba(100% 100% 100% / 0.75);
	--color-orange: rgb(100% 75% 0%);
	--color-purple: rgb(50% 0% 50%);
	--color-green: rgb(0% 50% 0%);
}

html {
	background: var(--color-white);
}

body,
button,
select,
input,
textarea {
	color: var(--color-black);
	font: 13px Roboto, Arial;
	line-height: 16px;
}

ul, ol {
	list-style: none;
}

button:not(:disabled):hover {
	cursor: pointer;
}

b {
	display: inline-block;

	padding: 0 4px;

	background: var(--color-gray);
	border-radius: 2px;

	color: var(--color-orange);
	font-weight: normal;
	line-height: 16px;
}

sup {
	display: inline-block;

	margin-top: -4px;

	vertical-align: top;
	font-size: 10px;
}

h1, h2, h3 {
	font-weight: normal;
	word-break: break-word;
}

h1, h2 {
	margin: -8px 0;
}

h1 {
	font-size: 26px;
	line-height: 48px;
}

h2 {
	font-size: 20px;
	line-height: 32px;
}

h3 {
	font-size: 17px;
}

::placeholder {
	color: var(--color-gray);

	opacity: 1;
}

::selection {
	background: var(--color-orange);

	color: var(--color-white);
}

[_wrapper] {
	display: grid;
	grid-template-columns: min-content minmax(0, 100%);

	min-width: 768px;
	min-height: 100%;

	background: var(--color-black-0625);
}

ul[_navigation] {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	position: sticky;
	top: 0;

	width: 0;
	height: 100vh;
	box-sizing: border-box;

	padding: 32px 0;
	gap: 32px;

	transition: 250ms ease width;
}

ul[_navigation]:hover,
ul[_navigation][fixed_]/*,
ul[_navigation]:not([fixed_]):not(:has(li[current_]:first-child))*/ {
	width: 64px;
}

ul[_navigation]:before,
ul[_navigation]:after {
	content: '';

	position: absolute;
	top: 0;
	bottom: 0;

	width: 16px;
}

@keyframes Navigation {
	from	{ background-position-y: -100vh; }
	to		{ background-position-y: 100vh; }
}

ul[_navigation]:before {
	left: 0;

	background: radial-gradient(at left,
		var(--color-orange),
		transparent 75%
	);
	background-size: 100% 100vh;
	background-repeat: no-repeat;
	background-position-y: -100vh;

	opacity: 1;
	animation: Navigation 4s ease;
	transition: 250ms ease opacity;
}

ul[_navigation]:hover:before,
ul[_navigation][fixed_]:before {
	opacity: 0;
}

ul[_navigation]:after {
	left: 100%;
}

ul[_navigation]:hover:after {
	width: 32px;
}

ul[_navigation] > *:not(:first-child) {
	opacity: 0.5;
	transition: 250ms ease opacity;
}

ul[_navigation] > *:not(:first-child):hover {
	opacity: 1;
}

ul[_navigation] li {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	width: 32px;
	height: 32px;

	cursor: pointer;
	user-select: none;
}

ul[_navigation] li:not([data-tab-ref]):not([current_]) {
	pointer-events: none;
}

ul[_navigation] li[current_] {
	opacity: 1;
}

ul[_navigation] li:before {
	content: '';

	position: absolute;
	top: 0;
	right: -16px;
	bottom: 0;

	width: 2px;

	background: var(--color-orange);

	transition: 250ms ease transform;
	transform: scaleY(0);
}

ul[_navigation]:hover li[current_]:before,
ul[_navigation][fixed_] li[current_]:before {
	transform: scaleY(1);
}

ul[_navigation] li img {
	pointer-events: none;
}

ul[_navigation] button {
	position: relative;

	width: 32px;
	height: 16px;

	background: var(--color-black-0625);
	box-shadow: none;
}

ul[_navigation] button:after {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 16px;
	height: 16px;

	border-radius: 2px;
	background: var(--color-gray);

	transition: 250ms ease transform;
}

ul[_navigation][fixed_] button:after {
	transform: translateX(100%);
}

[_content] {
	padding: 32px;
}

[_content] > *:not([current_]) {
	display: none;
}

[_text] {
	margin: -6px 0;

	line-height: 24px;
}

[_image] {
	min-width: 0;
	max-width: 62.5vw;

	background: var(--color-white);
	box-shadow: 0 8px 16px 8px var(--color-black-25);

	transition: 250ms ease box-shadow;
}

[_flex] {
	display: flex;
}

[_flex] {
	gap: 32px;

	transition: 250ms ease gap;
}

[_flex][_flex~="stack"] {
	gap: 2px;
}

[_flex~="h"] {
	flex-direction: row;
}

[_flex~="h"][_flex~="stack"] > * {
	border-radius: 0;
}

[_flex~="h"][_flex~="stack"] > *:first-child {
	border-radius: 2px 0 0 2px;
}

[_flex~="h"][_flex~="stack"] > *:last-child {
	border-radius: 0 2px 2px 0;
}

[_flex~="h"][_flex~="stack"] > *:only-child {
	border-radius: 2px;
}

[_flex~="v"] {
	flex-direction: column;
}

[_flex~="v"][_flex~="stack"] > * {
	border-radius: 0;
}

[_flex~="v"][_flex~="stack"] > *:first-child {
	border-radius: 2px 2px 0 0;
}

[_flex~="v"][_flex~="stack"] > *:last-child {
	border-radius: 0 0 2px 2px;
}

[_flex~="v"][_flex~="stack"] > *:only-child {
	border-radius: 2px;
}

[_flex~="wrap"] {
	flex-wrap: wrap;
}

[_flex~="space"] {
	justify-content: space-between;
}

[_flex~="center"] {
	align-items: center;
}

[_flex] > [__space] {
	flex: 1;
}

ul[_tab-switch] {
	display: flex;

	gap: 32px;

	transition: 250ms ease gap;
}

ul[_tab-switch] li {
	position: relative;

	transition: 250ms ease;
	transition-property: margin-left, color;
	cursor: pointer;
}

ul[_tab-switch] li:hover {
	color: var(--color-gray);
}

ul[_tab-switch] li[current_] {
	color: var(--color-orange);

	cursor: default;
}

ul[_tab-switch] li:not([data-tab-ref]):not([current_]) {
	color: var(--color-gray);

	pointer-events: none;
}

ul[_tab-switch] li:before,
ul[_tab-switch] li:after {
	content: '';

	position: absolute;

	background: var(--color-gray);

	transition: 250ms ease;
	transition-property: background, opacity, transform;
}

ul[_tab-switch] li:before {
	top: 0;
	left: -16px;
	bottom: 0;

	width: 2px;

	opacity: 0;
	transform: scaleY(0);
}

ul[_tab-switch] li[current_]:before {
	background: var(--color-orange);

	transform: scaleY(1);
}

ul[_tab-switch] li:after {
	left: 0;
	right: 0;
	bottom: -16px;

	height: 2px;

	transform: scaleX(0);
}

ul[_tab-switch] li:hover:after {
	transform: scaleX(0.5);
}

ul[_tab-switch] li[current_]:after {
	background: var(--color-orange);

	transform: scaleX(1);
}

[_tab] > *:not([current_]) {
	display: none;
}

[label_] {
	display: flex;
	align-items: center;

	min-width: 0;
}

[label_]:after {
	content: attr(label_);

	overflow: hidden;

	margin-left: 16px;

	text-overflow: ellipsis;
	white-space: nowrap;

	transition: 250ms ease margin-left;
}

[tip_] {
	position: relative;
}

[tip_]:before {
	content: attr(tip_);

	display: table;

	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 1;

	margin-top: 16px;
	padding: 8px;

	min-width: 16px;

	background: var(--color-white-75);
	backdrop-filter: blur(2px);
	border-radius: 2px;
	box-shadow: 0 2px 4px var(--color-black-25);

	text-align: center;
	white-space: nowrap;

	opacity: 0;
	transition: 250ms ease;
	transition-property: opacity, transform;
	transform: translate(-50%, -16px);
	pointer-events: none;
}

[tip_]:hover:before {
	opacity: 1;
	transition-delay: 1s;
	transform: translateX(-50%);
}

label {
	cursor: pointer;
	user-select: none;
}

label input {
	width: 0;
	height: 0;
}

label[_switch] {
	flex-shrink: 0;

	width: 64px;
	height: 32px;

	background: var(--color-black-0625);
	border-radius: 2px;

	transition: 250ms ease;
	transition-property: width, height;
}

label[_switch] div {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 32px;
	height: 32px;

	background: var(--color-gray);
	border-radius: 2px;
	box-shadow: 0 0 0 16px transparent;

	transition: 250ms ease;
	transition-property: width, height, background, box-shadow, opacity, transform;
}

label[_switch]:hover div {
	opacity: 0.5;
}

label[_switch] input:focus + div {
	box-shadow: 0 0 0 2px var(--color-black-125);
}

label[_switch] input:checked + div {
	background: var(--color-orange);

	transform: translateX(100%);
}

label[_switch] div:before,
label[_switch] div:after {
	content: '';

	position: absolute;

	width: 16px;
	height: 2px;

	background: var(--color-white);

	transition: 250ms ease;
	transition-property: width, height, transform;
	transform: none;
}

label[_switch] div:after {
	transform: rotate(90deg);
}

label[_switch] input:checked + div:before,
label[_switch] input:checked + div:after {
	transform: rotate(180deg);
}

label[_file] div {
	padding: 8px;

	min-width: 32px;

	background: var(--color-orange);
	border-radius: 2px;
	box-shadow: 0 0 0 16px transparent;

	color: var(--color-white);

	transition: 250ms ease;
	transition-property: box-shadow, opacity;
}

label[_file]:hover div {
	opacity: 0.5;
}

label[_file] input:focus + div {
	box-shadow: 0 0 0 2px var(--color-black-125);
}

textarea {
	flex: 1;

	min-height: 256px;

	padding: 16px;

	border: none;
	border-radius: 2px;
	box-shadow:
		0 8px 16px 8px var(--color-black-25),
		0 0 0 16px transparent;

	transition: 250ms ease;
	transition-property: margin-top, margin-left, padding, box-shadow, font-size, line-height!important;
}

textarea:focus {
	box-shadow:
		0 8px 16px 8px var(--color-black-25),
		0 0 0 2px var(--color-black-125);
}

textarea[zoom_] {
	padding: 8px 16px;

	font-size: 17px;
	line-height: 32px;
}

textarea[readonly] {
	flex: 1;

	background: var(--color-black-0625);
	box-shadow: none;
}

button {
	min-width: 32px;
	overflow: hidden;

	padding: 8px;

	background: var(--color-orange);
	border: none;
	border-radius: 2px;
	box-shadow: 0 0 0 16px transparent;

	color: var(--color-white);
	text-overflow: ellipsis;
	white-space: nowrap;

	transition: 250ms ease;
	transition-property: background-color, box-shadow, color, opacity!important;
	user-select: none;
}

button:hover {
	opacity: 0.5;
}

button:focus {
	box-shadow: 0 0 0 2px var(--color-black-125);
}

button:not([onclick]) {
	background: var(--color-black-0625);
	box-shadow: none;

	color: var(--color-gray);

	pointer-events: none;
}

[_dropdown] {
	display: flex;

	position: relative;
}

[_dropdown]:before {
	content: '▼';

	min-width: 16px;

	padding: 8px;

	background: var(--color-orange);
	border-radius: inherit;
	box-shadow: 0 0 0 16px transparent;

	color: var(--color-white);
	text-align: center;

	transition: 250ms ease;
	transition-property: box-shadow, opacity;
	cursor: pointer;
}

[_dropdown]:not([active_]):hover:before {
	opacity: 0.5;
}

[_dropdown]:focus:before {
	box-shadow: 0 0 0 2px var(--color-black-125);
}

[_dropdown] > [_flex] {
	position: absolute;
	top: calc(100% + 16px);
	left: 0;

	transition: 250ms ease;
	transition-property: opacity, visibility;
}

[_dropdown]:not([active_]) > [_flex] {
	opacity: 0;
	visibility: hidden;
}

[_dropdown] button {
	background: var(--color-white-75);
	backdrop-filter: blur(2px);
	box-shadow:
		0 2px 4px var(--color-black-25),
		0 0 0 16px transparent;

	color: var(--color-black);
	text-align: left;
}

[_dropdown] button:focus {
	box-shadow:
		0 2px 4px var(--color-black-25),
		0 0 0 2px var(--color-black-125);
}

ul[_list] {
	display: flex;
	flex-direction: column;

	overflow: hidden;

	background: var(--color-black-0625);
	border-radius: 2px;

	transition: 250ms ease box-shadow;
}

ul[_list] li {
	padding: 12px 16px;

	line-height: 24px;
}

ul[_list] li:nth-child(2n) {
	background: var(--color-black-0625);
}

[_table] {
	display: table;

	overflow: hidden;

	background: var(--color-white);
	border-radius: 2px;
	box-shadow: 0 8px 16px 8px var(--color-black-25);

	transition: 250ms ease box-shadow;
}

[_table="natural"] {
	width: max-content;
}

[_table="wide"] {
	flex: 1;
}

[_table] > div {
	display: table-row;
}

[_table] > div:nth-child(2n) {
	background: var(--color-black-0625);
}

[_table] > div[__header] {
	background: var(--color-gray);

	color: var(--color-orange);
}

[_table] > div > div {
	display: table-cell;

	padding: 16px;

	vertical-align: middle;
}

[_table] > div > div:first-child {
	padding-right: 8px;
}

[_table] > div > div:not(:first-child):not(:last-child) {
	padding-left: 8px;
	padding-right: 8px;
}

[_table] > div > div:last-child {
	padding-left: 8px;

	text-align: right;
}

[_table] > div > div:only-child {
	padding: 16px;

	text-align: left;
}

[_table] > div > div[wide_] {
	width: 100%;
}

[_table] > div > div[narrow_] {
	width: 1%;
}

[_table] > div > div[wrapless_] {
	white-space: nowrap;
}

[_table] > div[__header] > div {
	height: 0;

	padding: 8px 16px;
}

[_table] > div[__header] > div button {
	min-width: 16px;

	padding: 0;

	background: none;

	color: var(--color-orange);
}

[_table] > div > div [_flex] {
	gap: 16px;
}

[_table] > div > div:last-child [_flex] {
	justify-content: flex-end;
}

@media screen and (max-width: 1366px) {
	label[_switch] {
		width: 32px;
	}

	label[_switch] input:checked + div {
		transform: translateX(0);
	}
}

@media screen and (max-width: 1024px) {
	img[_image] {
		box-shadow: 0 4px 8px 4px var(--color-black-25);
	}

	[_flex] {
		gap: 16px;
	}

	ul[_tab-switch] {
		gap: 16px;
	}

	ul[_tab-switch] li[current_] {
		margin-left: 16px;
	}

	ul[_tab-switch] li:before {
		opacity: 1;
	}

	ul[_tab-switch] li:after {
		opacity: 0;
	}

	label[_switch],
	label[_switch] div {
		width: 16px;
		height: 16px;
	}

	label[_switch] div:before,
	label[_switch] div:after {
		width: 8px;
	}

	textarea {
		box-shadow:
			0 4px 8px 4px var(--color-black-25),
			0 0 0 16px transparent;
	}

	textarea:not([readonly]):focus {
		box-shadow:
			0 4px 8px 4px var(--color-black-25),
			0 0 0 2px var(--color-black-125);
	}

	[_table] {
		box-shadow: 0 4px 8px 4px var(--color-black-25);
	}
}

[_footer] {
	height: 2px;

	margin-top: auto;

	background: var(--color-green);
}